.categories{
    top: -60px;
    position: relative;
    width: 90%;
    margin: auto;
    margin-left: 6%;
}

.category-wrapper{
    background-color : #0F1014; 
    height: 120px;
    margin-left:20px;
    border-radius: 10px;
    cursor: pointer;
}

.category-wrapper img , h1{
    position: static;
    top: 0;
    width: 100%;
    height: 100%;
    
}
.category-wrapper h1{
    color: white;
    text-align: center;
    line-height: 110px;
}