.create-profile{
    background-color: rgb(15, 16, 20);
    min-height: 250vh;
    padding: 50px 10px;
}

body{
    min-height: 100vh;
}

.create-profile .Cancel{
    color: #1F86DB!important;
    top: 0;
    right: 30px;
    cursor: pointer;
}
.carousel-register{
    margin-top: 80px;
    padding-top: 50px;
}

.carousel-inner-register{
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 50px 0px;
    position: relative!important;
    background-color: rgba(15,16,20,0.9);

}
.carousel-items-register{
    display: flex;
    width: 93%;
    margin-left: 4%;
    
    padding: 50px 0px 50px 10px;
    padding-right: 5%;
    overflow-x: scroll;
    
}
.carousel-items-register::-webkit-scrollbar { width: 0 !important }


.carousel-inner-register .carousel-items-register img{
    width: 100px;
    margin-left: 70px;
    transition: all 1s;
    cursor: pointer;
    position: relative;
}
.carousel-inner-register .carousel-items-register img:hover{
    transform: scale(1.3);
}
.Register-arrows  {
    display: flex;
    position: absolute;
    top: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.Register-arrows > div{cursor: pointer;}

.Register-arrows .arrow-right{right: -15px!important; text-align: right;}

.Register-arrows img {width: 40px;}


.carousel-inner-register .active{
    border: 2px solid #FFFFFC;
    padding: 5px;
    border-radius: 50%;
    transform: scale(1.8);
}
.carousel-inner-register .carousel-items-register div{position: relative;}
.carousel-inner-register .carousel-items-register .activeIcon{
   
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #E1E6EF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid white;
    bottom: -35px;
    right: -39px;
    opacity: 0.9;
}
.carousel-inner-register .carousel-items-register .activeIcon.edit{
    background-color: #0646D1!important;
    color:  white!important;
}
.ProfileName{
    background: none;
    border-color: #4D5166;
    width: 30%;
    color: white;
}
.ProfileName::placeholder{
    color: #4D5166;;
}

.edit-Active-Img-Position{
    justify-content: center;
    padding-top: 0 !important ;
    padding-bottom:0 !important ;
}

.edit-Active-Img-Position .active{
    transform: scale(1.01);
}

.edit-Active-Img-Position .activeIcon{
    bottom: 0px!important;
    right: 0px!important;
    width: 40px!important;
    height: 40px!important;
    padding: 20px!important;
    cursor: pointer;
}

.btn-create-profile{
    width: 450px;
    display: none;
}
.ProfileDetails{
    display: none;
}

.btn-toggle{cursor: pointer;}
.btn-toggle::after{
    background-color: #262833;
    width: 50px!important;
    height: 25px!important;
    content: '';
    border: 5px;
    position: absolute;
    border-radius: 20px;
    
}

.btn-toggle::before{
    position: absolute;
    width: 25px!important;
    height: 25px!important;
    background-color: #CCE8FF;
    border-radius: 100%;
    content: '';
    border: 5px;
    z-index: 5555;
    left: 13px;
}
.btn-toggle.active::before{right: -35px; left: auto;}
.btn-toggle.active::after{background-color: #0646D1!important;}

.create-profile-data{width: 30%!important;}

.Rating{
    width: 80px;
    position: absolute;
    background: none;
    right: -25px;
    top: 18px;  
    cursor: pointer;
}


.ratings-container{
    position: absolute;
    display: none;
    background-color: #101216;
    min-width: 450px;
    top: 85px;
    right: -99px;
        z-index: 10005;
    min-height: 100px;
    box-shadow: 2px 12px 10px #26282f;
    border-radius: 10px;
    animation-name: slider;
    animation-duration: 1s;
    animation-timing-function: ease;
}
.ratings-container.show {display: block;}

.rating-wrapper{
    color: white;
    cursor: pointer;
    padding: 10px;
}
.rating-wrapper:hover{
    background-color: #262833;
}
.rating-wrapper:first-of-type:hover{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.rating-wrapper:last-of-type:hover{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.rating-wrapper p {
    padding-left: 40px;
    color: #656B7E;
    font-size: 20px;

}
.rating-wrapper p:first-of-type{color:white;}
.rating-icon-before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #0646D1;
    border-radius: 50%;
    text-align: center;
    padding-top: 2px;
}

.rating-wrapper:not(.rating-wrapper:last-of-type)::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 120px;
    left: 25px;
    border: 1px solid #0646D1;
}

@media (max-width:992px) {
    .create-profile-data{width: 60%!important;}
}

@media (max-width:576px) {
.ratings-container
{    left: -52px!important;
    width: max-content;

}
}


@keyframes slider{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
   
    100%{
        opacity: 1;
    }
}
