header{
    height: auto;
    width: 100%;
    background-color: #000203;
}
/* * Navlinks */
.navLinks{
    width: 18%;
    z-index: 100;
    transition: all 2s;
    height: 100%!important;
}

header .logo{
    width: 75px;
    height: 75px;
}

header .profile{
    width: 30px;
    height: 30px;
}

header .navLinks .Account{margin-left: 15px;}
header .navLinks i{color: #9F9F9F; padding-left: 15px;}

header .navLinks i.active{color:white;}

.navLinks div{cursor: pointer; transition: all 0.2s;}

.navLinks:hover {
    background-image: linear-gradient(to right,  rgba(120, 116, 116, 0.1) , rgba(85, 85, 85, 0));
}
.navLinks:hover div p{
    visibility: visible;
}
.navLinks div:hover {
    margin-left: 15px;
}
.navLinks div p{visibility: hidden;}


.header-subscribe{
    color:#ffcc75;
    background: rgb(128, 72, 0 , 0.2);
    border-color: rgb(128, 72, 0 , 0.2);

    border-radius: 20px!important;
    margin: 0px;
    margin-bottom: 10px;
    width: 40%;
    font-size: 12px;
    padding: 0;
}
.header-subscribe .bi-caret-right-fill{
    color: rgb(128, 72, 0 )!important;
    padding-left: 0px!important;
}

/* * Carousel */
header .carousel{
    height: 750px!important;
    width: 100%;
    position: relative;
    padding-left: 100px;
}
header .carousel  .carousel-item{
    height: 700px!important;
    position: relative;
}

header .carousel-item-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to right,  rgba(0, 0, 0, 0.2) , rgba(0, 0, 0, 0));
    color: white;
}

header .carousel-caption{
    z-index: 100;
    position: absolute;
    top: 25%;
    left: -20px;
    width: 40%;
    
}

header .carousel-caption div{
    padding: 10px;
    text-align: left;
    margin-left: 100px;
}
header .carousel-caption img{
    padding-left: 100px;
    margin-bottom: 50px;
    width: 100%!important;
    max-height: 40%;
}

header .carousel-caption p {
    display: inline-block;
    margin-top: 15px;
}

header .subsribe{
    width: 400px!important;
    padding: 8px 5px!important;
    background-color: hsla(0,0%,100%,.08);
    color: white;
    border: 0;
    border-radius: 10px!important;
}


header .add-to-Fav{
    width: 60px;
    text-align: center;
    background-color: hsla(0,0%,100%,.08);
    color: white;
    border: 0;
}

header .carousel-caption span {
    position: relative;
    padding-right: 5px;
    margin: 50px 10px 50px 10px ;
}

header .carousel-caption span:not(span:last-of-type):after {
    content: " ";
    position: absolute;
    top: 15px;
    width: 6px;
    height: 6px;
    border-radius:50% ;
    background-color: white;
    margin-left: 10px;
}
header .carousel-caption .category{
    display: block;
    margin-top: 25px;
}
header .carousel-caption .availableTo { 
    background-color: hsla(0,0%,100%,.08);
    border-radius: 10px;
    padding: 6px;
}

header .carousel-indicators{
    width: 95%;
    margin-left: 0!important;
    margin-right: 0!important;
    justify-content: flex-end!important;
}
header .carousel-indicators [data-bs-target]{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    background: none;
    opacity: 1;   
}

header .carousel-indicators-img{
    width: 100%;
    margin-left: 20px;
    border-radius: 10px;
    transition: all 1s;

}
header .carousel-indicators-img:hover{
    transform: scale(1.09) translatey(-10px);
}
header .carousel-indicators-img.active{
    border: 3px solid white;

}

@media (max-width:991px) {
   
    .header-subscribe{
        min-width: 120px!important;
    }

    .header .subsribe{min-width: 250px!important;}
   
}

@media (max-width:576px)
{
    .carousel-item-container{
        display: flex;
    }
    header .carousel{
        padding-left: 0!important;
    }
    header .subsribe{
        width: 210px!important;

    }
.btn-watch{
    width: 500px!important;
}
    header .carousel-caption img{
        padding-top:39px!important;
        width: 300px!important;
        margin-bottom: 0px!important;
    }
    header .carousel-caption .category {
        display: block!important;
    }
     
}

@media  (min-width:576px) and (max-width:991px) {
    header .carousel-caption {
        z-index: 100;
        position: absolute;
        top: 5%;
        left: -58px;
        width: 60%;
    }
    /* header .carousel-caption div:last-of-type{flex-direction: column;} */

}

header .carousel-caption div , .carousel-item-container{
    width: max-content;
    animation-name: animateTop;
    transition: all 2s;
    animation-duration: 2s;
}


@keyframes animateTop{
    0%{
        bottom: -20%;
    }
    100%{
        bottom: 0%;
    }
}