.Login{
    background-color: #0F1014;
    min-height: 100vh;
    padding: 45px 10px;
}

.Login .Logo img{
    width: 150px;
    height: 70px;
}

.Login .login-container{
    margin-top: 250px;
}
.Login .Account-Icon{
    width: 150px;
}

.Login .login-container span{
    color: #8e8e8e!important;
}

.Login .add-new-account{
    background-color: #262833;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: all 0.5s;
}

.Login .add-new-account i{ font-size: 60px;}
.Login .login-container .isLoggedAccount div:hover , .add-new-account-container:hover{
    transition: all 0.5s;
    cursor: pointer;
    transform: scale(1.08);

}
.Login .login-container .add-new-account-container:hover{
    transform: scale(1.08);
}


@media (max-width:992px)    
{
    .Login .Accounts , .isLoggedAccount{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Login .Accounts div{
            margin-bottom: 20px;
        }
}