.Login{
    background-color: #0F1014;
    max-height: 100vh;
    padding: 45px 10px;
}
body{
    min-height: 100vh;
}

.Login .Logo img{
    width: 150px;
    height: 70px;
    cursor: pointer;
}

.Login .login-container{
    margin-top: 130px;
    overflow-x: scroll;
    padding: 10px;
    padding-left:200px;
}
.login-container::-webkit-scrollbar { width: 0 !important }

.Login .Account-Icon{
    width: 100px;
}

.Login .login-container span{
    color: #8e8e8e!important;
}

.Login .add-new-account{
    background-color: #262833;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all 0.5s;
}

.Login .add-new-account i{ font-size: 60px;}
.Login .login-container .isLoggedAccount div:hover , .add-new-account-container:hover{
    transition: all 0.5s;
    cursor: pointer;
    transform: scale(1.08);

}
.Login .login-container .add-new-account-container:hover{
    transform: scale(1.08);
}


@media (max-width:992px)    
{
    .Logo{
        margin-bottom: 60px;

    }
    .Login .Accounts , .isLoggedAccount{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Login .Accounts div{
            margin-bottom: 20px;
    }
    .login-container{
        margin-top: 50px!important;
        padding-left:0px!important;
    }
    .edit-icon{
        margin-right: 0!important;
        padding: 0!important;
    }
}
